/* NAVBAR */

/* CONTENT */

.banner {
    background-color: antiquewhite;
    height: 500px;
    border: 1px grey solid;
    text-align: center;
    align-content: center;
    color: grey;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    /* padding: 1rem; */
    border: 1px blue solid;
    margin-top: 50px;

    /* referencia ao elemento pai */
    & .item {
        display: flex;
        justify-content: center;
        color: grey;
    }
}

/* FOOTER */

.media i {
    margin-right: 22px;
}

.icon-ld {
    color: #0e76a8;
}

.icon-ig {
    background: linear-gradient(45deg,
            rgb(193, 53, 132),
            rgb(225, 48, 108),
            rgb(245, 133, 41),
            rgb(255, 220, 128));
    -webkit-background-clip: text;
    /* Aplica o gradiente ao texto/ícone */
    background-clip: text;
    color: transparent;
    /* Torna a cor do ícone transparente para mostrar o gradiente */
}